@model Recipes_SQL.Models.Recipe

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control form-control-lg" style="font-size: 20px; padding: 10px;" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label">Summary</label>
                <textarea asp-for="Summary" class="form-control form-control-lg" rows="4" style="font-size: 20px; padding: 10px;"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label">Ingredients</label>
                <textarea asp-for="Ingredients" class="form-control form-control-lg" rows="6" style="font-size: 20px; padding: 10px;"></textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Method" class="control-label">Method</label>
                <textarea asp-for="Method" class="form-control form-control-lg" rows="8" style="font-size: 20px; padding: 10px;"></textarea>
                <span asp-validation-for="Method" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">Picture Name</label>
                <input asp-for="ImageUrl" class="form-control" placeholder="" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-lg" style="font-size: 20px; padding: 10px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

